* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, sans-serif;
}



main {
  padding: 20px;
  text-align: center;
}



header {
  background-color: #333;
  color: white;
  padding: 20px;
}

.header-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-content img {
  width: 5%;
}

.header-right {
  display: flex;
  align-items: center;
}

.header-right nav a {
  color: white;
  margin-left: 20px;
  text-decoration: none;
}

.page-nav {
  background-color: #ccc;
  display: flex;
  font-size: large;
  justify-content: space-around;
  padding: 10px;
}

.page-nav a {
  color: #333;
  text-decoration: none;
}

.welcome-message {
  font-size: 1.2em;
  font-weight: bold;
  margin-right: 10px;
}

.login-button {
  padding: 0.5em 1em;
  border: none;
  border-radius: 4px;
  background-color: #ccc;
}

.login-button:hover {
  background-color: #cccccc90;
}

.signup-button {
  padding: 0.5em 1em;
  border: none;
  border-radius: 4px;
  background-color: #ccc;
}

.signup-button:hover {
  background-color: #cccccc90;
}

.page-title {
  font-size: xx-large;
  display: flex;
  justify-content: left;
  align-items: center;
}

.table-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1%;
}

.important-tasks {
  list-style-type: none;
}

.important-tasks a,
a:hover,
a:active,
a:focus {
  text-decoration: none;
  color: inherit;

}

.unimportant-tasks {
  list-style-type: none;
}

.unimportant-tasks a,
a:hover,
a:active,
a:focus {
  text-decoration: none;
  color: inherit;

}

.task-list {
  width: 2%;
}

.page-footer {
  position: absolute;
  bottom: 0%;
  width: 100%;
  height: 50px;
  background-color: #333;
  color: white;
  padding: 10px;
  text-align: center;
}