* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.main-body{
  padding-top: 50px;
  text-align: center;
  font-family: Arial, sans-serif;
}



.table-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1%;
}

.important-tasks {
  list-style-type: none;
}

.important-tasks a,
a:hover,
a:active,
a:focus {
  text-decoration: none;
  color: inherit;

}

.unimportant-tasks {
  list-style-type: none;
}

.unimportant-tasks a,
a:hover,
a:active,
a:focus {
  text-decoration: none;
  color: inherit;

}

.tasklist-container {
  padding-top: 20px;
  justify-content: center;
  align-items: center;
}
.tasklist-heading {
  text-align: center;
}

.tasklist {
  width: 2%;
}
.tasklist {
  margin: 0 auto;
  border-collapse: collapse;
  width: 80%;
}

.tasklist th, .tasklist td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

.tasklist th {
  background-color: #f2f2f2;
}

.tasklist tbody tr:nth-child(even) {
  background-color: #f2f2f2;
}
